
<?xml version="1.0" ?>
<robot name="Khepera">
    <webots>
        <device reference="gps" type="GPS">
            <ros>
                <topicName>/gps_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="lidar" type="Lidar">
            <ros>
                <topicName>/lidar_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <device reference="us4" type="DEF US4 DistanceSensor">
            <ros>
                <topicName>/us4_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device> 
        <device reference="us0" type="DEF US0 DistanceSensor">
            <ros>
                <topicName>/us0_sensor</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>  
        <device reference="compass" type="Compass">
            <ros>
                <topicName>/sensor_compass</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>             
        <plugin type="licenta.my_robot_driver.MyRobotDriver" />
    </webots>
</robot>

